<button id="btn">Button</button>


<!-- <div class="wrapper" [(ngModel)]="salaSeleccionada">
    <button class="button" (click)="moverSala('admin')">Sala Conjunta</button>
    <button class="button" (click)="moverSala('Grupo 1')" *ngIf="userData.rol == 'admin'" >GRUPO 1</button>
    <button class="button"  (click)="moverSala('Grupo 2')" *ngIf=" userData.rol == 'admin'" value="Grupo 2">GRUPO 2</button>
    <button class="button" (click)="moverSala('Grupo 3')" *ngIf="userData.rol == 'admin'" value="Grupo 3">GRUPO 3</button>
    <button class="button"  (click)="moverSala('Grupo 4')" *ngIf="userData.rol == 'admin'" value="Grupo 4">GRUPO 4</button>
    <button class="button"  (click)="moverSala('Grupo 5')" *ngIf="userData.rol == 'admin'" value="Grupo 5">GRUPO 5</button>
    <button class="button"  (click)="moverSala('Grupo 5')" *ngIf="userData.rol== 'admin'" value="Grupo 6">GRUPO 5</button>
    <button class="button"(click)="moverSala2()">Volver a tu sala</button>
</div> -->
