

  <div id="contenedor-principal">
    <app-sidebar (toggle)="toggleSidebar()"></app-sidebar>
    <div id="contenedor-contenido">
          <!-- <button id="btn-toggle" (click)="toggleSidebar()">☰</button>  -->
         
            <div class="toggle"   (click)="toggleSidebar()">
              <span></span>
              <span></span>
              <span></span>
            </div>
          
  <div class="container mt-4">
    <main>

   
      
      <section>
        <router-outlet></router-outlet>
      </section>
    </main>
    

  </div>


</div>

</div>