
<div class="container mt-4">
  <h1 class="text-center">SignalR Chat</h1>
  <hr />

  <p  *ngIf="connected" class="text-success text-center" >
    Conectado como: {{ currentUser.nombre }} en la {{ getRoomName() }} 
    <!-- <span *ngFor="let user of connectedUsers">Conectado como: {{ user.nombre }} en la {{ getLabelForSala(user.rol!)}}</span> -->
  </p>
  <p *ngIf="!connected" class="text-danger text-center">Desconectado</p>

  <!-- <img *ngIf="userData.avatar" [src]="userData.avatar" alt="Avatar del usuario" style="width: 100px; height: 100px; border-radius: 50%;"> -->
  <img *ngIf="usuarioActual.avatar" [src]="usuarioActual.avatar" alt="Avatar del usuario" style="width: 100px; height: 100px; border-radius: 50%;">

  <div class="row mb-3">
      <div class="col">
          <label class="col-2"></label>

            <!-- <select class="col-4 form-control text-center" id="sala" [(ngModel)]="currentUser.rol">
              <option value="admin">Sala conjunta</option>
              <option *ngIf="'Grupo 1'== userData.rol || userData.rol == 'admin'" value="Grupo 1">Sala 1</option>
              <option *ngIf="'Grupo 2'== userData.rol || userData.rol == 'admin'" value="Grupo 2">Sala 2</option>
              <option *ngIf="'Grupo 3'== userData.rol || userData.rol == 'admin'" value="Grupo 3">Sala 3</option>
              <option *ngIf="'Grupo 4'== userData.rol || userData.rol == 'admin'" value="Grupo 4">Sala 4</option>
              <option *ngIf="'Grupo 5'== userData.rol || userData.rol == 'admin'" value="Grupo 5">Sala 5</option>
              <option *ngIf="'Grupo 6'== userData.rol || userData.rol == 'admin'" value="Grupo 6">Sala 6</option>

            </select> -->

    <p></p>

  <div class="button-container">
    <button class="custom-button" #salaConjuntaBtn (click)="moverSala('admin', salaConjuntaBtn); updateRole('admin')">Sala Conjunta</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 1'" #grupo1Btn (click)="moverSala('Grupo 1', grupo1Btn); updateRole('Grupo 1')">SALA 1</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 2'" #grupo2Btn (click)="moverSala('Grupo 2', grupo2Btn);updateRole('Grupo 2')">SALA 2</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 3'" #grupo3Btn (click)="moverSala('Grupo 3', grupo3Btn);updateRole('Grupo 3')">SALA 3</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 4'" #grupo4Btn (click)="moverSala('Grupo 4', grupo4Btn);updateRole('Grupo 4')">SALA 4</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 5'" #grupo5Btn (click)="moverSala('Grupo 5', grupo5Btn);updateRole('Grupo 5')">SALA 5</button>
    <button class="custom-button" *ngIf="userData.rol == 'admin'|| userData.rol == 'Grupo 6'" #grupo6Btn (click)="moverSala('Grupo 6', grupo6Btn);updateRole('Grupo 6')">SALA 6</button>
    <!-- <button class="custom-button" *ngIf="userData.rol == 'Grupo 1' || userData.rol == 'Grupo 2' || userData.rol == 'Grupo 3' || userData.rol == 'Grupo 4' || userData.rol == 'Grupo 5' || userData.rol == 'Grupo 6'" #volverBtn (click)="moverSala2(volverBtn)">Volver a tu sala</button> -->
  </div>

  <p></p>

  <div class="row mb-3">
      <div class="col"> 
        <!-- alertas primeng -->
        <div class="messages-container">
          <p-messages [value]="messages" class="custom-messages"></p-messages>
        </div>          
          <app-message-input (sendMessageEvent)="sendMessage($event)"></app-message-input>
      </div>

  <!-- PRUEBAS BOTON ENVIAR -->

  <!-- <input type="file" (change)="onFileSelected($event)"> -->

 


  <!-- <button (click)="downloadLastImage()">Descargar última imagen</button> -->
  

  </div>


          <!-- ESTA PARTE COMENTADA ES LA ORIGINAL FUNCIONAL CON CHAT EN AMBOS SENTIDOS -->

    <!-- <div class="col">
        <div class="chat-container">
          <ul *ngIf="connected" class="list-unstyled mt-3 chat-list">
          <ng-container *ngFor="let mensaje of mensajes">
            <li class="mensaje-content2 " [ngClass]="isCurrentUserMessage(mensaje.usuario)?'mensajeD-actual':'mensajeD-recibido'" >
                <img  [src]="userData.avatar" alt="Avatar del usuario" class="avatar-img" >              
                <p class="mensaje-nombre " [ngClass]="isCurrentUserMessage(mensaje.usuario)?'actual-nombre':'recibido-nombre'">{{ mensaje.usuario }}</p>
                    
                <div class="mensaje-text">
                  <p class="mensaje-base" [ngClass]="isCurrentUserMessage(mensaje.usuario)?'actual':'recibido'">{{ mensaje.mensaje }}</p>
                </div>
            </li> 
          </ng-container>

          </ul>
        </div>
    </div> -->

    <div class="col">
      <div class="chat-container">
        <ul *ngIf="connected" class="list-unstyled mt-3 chat-list">
          <ng-container *ngFor="let mensaje of mensajes">
            <li class="mensaje-content2" [ngClass]="isCurrentUserMessage(mensaje.usuario) ? 'mensajeD-actual' : 'mensajeD-recibido'">
              <img [src]="userData.avatar" alt="Avatar del usuario" class="avatar-img">
              <p class="mensaje-nombre" [ngClass]="isCurrentUserMessage(mensaje.usuario) ? 'actual-nombre' : 'recibido-nombre'">{{ mensaje.usuario }}</p>
              <div class="mensaje-text">
                <p class="mensaje-base" [ngClass]="isCurrentUserMessage(mensaje.usuario) ? 'actual' : 'recibido'" [innerHTML]="mensaje.mensaje"></p>   
              </div>
              
            </li>
          </ng-container>
        </ul>
      </div>
    </div>


    
    
    
    
</div>

      
      
      
      
      
      

 

