

body {
    background-color: #f8f9fa;
    background-image: url('https://elcomercio.pe/resizer/gj5JbwxkmqRAa4HSpfOHEIUBf7k=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/6FUBT6XQXNHHNFOMCHIT7I34NA.jpg');
    background-size: cover;
    background-position: top;
    color: #343a40;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #007bff;
}


  .messages-container {
    position: fixed;
    top: -5%;   
    left: 80%;  
    transform: translate(-50%, 80%); 
    /* z-index: 1000;  */

    align-items: center;
    justify-content: center;
    display: flex;
  }

  /* ESTILO MENSAJES */
/* .messages-container .p-message {
  background-color: #007bff !important; 
  color: #ffffff !important; 
  border: 1px solid #0056b3 !important; 
} */




/* button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #1249ff80;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #1249ff80;
  transition: 0.5s ease;
  user-select: none;
}

#btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
    0 0 100px #008cff;
} */

button {
  background-color: #d3e2f9;
  border: 1px solid rgb(4, 98, 240);
  border-radius: .5rem;
  color: #022269;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  margin-right: 5px;
  margin-top: 5px;

}

button:hover {
  background-color: #67b6ef;
}

button:focus {
  outline: 2px solid rgb(11, 0, 165, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.custom-button.active {
  background-color: #67b6ef; /* Cambia el color al hacer clic */
}


/* MAS PRUEBAS */




.chat-container {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;

}


/* .chat-list {
  padding: 0;
} */

/* .mensaje-item {
  margin-bottom: 200px;
} */

.mensaje-content {
  
  display: flex;
  /* align-items: flex-end;  */
}

.usuario {
  font-weight: bold;
  /* margin-left: 0px;
  align-self: flex-start;  */
  
}


.mensaje-text {
  /* margin-left: 10px; */
  /* text-align: right;  */
  white-space: normal; 
  word-wrap: break-word; 
  /* color: black; */
}

/* ENVIADOS */
.mensaje-actual {
  background-color: #ebf1f9d2; 
  border-radius: 8px;
  padding: 10px;
  text-align: left; 
  color: black;


}

.mensaje-actual-nombre {
  padding: 10px;
  color: blue; 
  
  align-self: flex-start; 

}

.mensaje-actual-avatar {
  margin-right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* RECIBIDOS */
.mensaje-recibido {
  background-color: rgba(234, 249, 240, 0.822); 
  border-radius: 8px;
  padding: 10px;
  text-align: left; 
  color: black;


}

.mensaje-recibido-nombre {
  padding: 10px;
  color: green; 
  margin-left: 0px;
  align-self: flex-start; 
}
.mensaje-recibido-avatar {
  margin-left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}


/* AQUI */

.avatar-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-top: 10px;
}

.chat-container {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;

}

.mensaje-content2 {
  display: flex;
}
.mensajeD-recibido {
flex-flow:row wrap;
}
.mensajeD-actual {
flex-flow:row-reverse wrap;
}

/* ENVIADOS */
.actual {
  background-color: #ebf1f9d2; 

}

.recibido {
  background-color: rgba(234, 249, 240, 0.822); 

}

.mensaje-base{
  border-radius: 8px;
  padding: 10px;
  text-align: left; 
  color: black;
}



.mensaje-nombre{
  padding: 10px;
  align-self: flex-start; 

}

.actual-nombre {
  color: blue; 

}
.recibido-nombre {
  color: green; 
  margin-left: 0px;
}




.mensaje-actual-avatar {
  margin-right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* RECIBIDOS */
.mensaje-recibido {
  background-color: rgba(234, 249, 240, 0.822); 
  border-radius: 8px;
  padding: 10px;
  text-align: left; 
  color: black;

}


.mensaje-recibido-avatar {
  margin-left: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}



.img-chat {
  width: 100px;
  height: 100px;
  
}





